{% extends "::base.html.twig" %}

{%block body %}
{{ form(form) }}

<div>
	Enter any combination of "Default", "one" or "two" in the Validation groups field (separated by comma) and submit the form. If "Default" is not the first entry, the validation errors show up on the wriong field.
</div>
{% endblock %}